# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HelloMultiplayer.iml
# Datasource local storage ignored files
/../../../../../../:\UnrealProgs\HelloMultiplayer\.idea\.idea.HelloMultiplayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
